header{
   height: 200vh;
   background-color: yellowgreen;
}

.header{
   position: relative;
   height: 100vh;


   &__main{

      mix-blend-mode: difference ;
      position: absolute;
      top: 50%;
      height: 80vh;
      transform: translateY(-50%);
   }
}
