header{
   height: 200vh;
   //background: linear-gradient(180deg, #FFC0CB 50%, #00FFFF 50%);
}

.header{
   position: relative;
   height: 100vh;


   &__main{
      
      color: black;
      mix-blend-mode: difference ;
      position: absolute;
      top: 50%;
      //height: 80vh;
      transform: translateY(-50%);
   }

   &__mail{
      &__container{
         overflow: hidden;
      }
   }

   &__animation{
      &__container{
         position: relative;
         overflow: hidden;
      }
   }
}
