.work-item{
   position: relative;
   padding: 1rem 0;

   &__image{
      position: relative;
      display: absolute;
      width: 100%;
      height: 100%;
      transition: all 1000ms;
     

      &__container{
         position: relative;
         overflow: hidden;
      }

      &-hidder{
         display: block;
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: white;
         bottom: 0;

         transform-origin: bottom;
         transform: scaleY(0);
      }

      &-video{
         display: block;
         position: absolute;
         width: 100%;
         height: 100%;
         transition: all 500ms;
      }
   }

   &__info{
      height: 100%;
      position: relative;
      left: $gutter-vertical;

      @include respond(sm) {
         left: 0;
      }
   }

   &__tag{
      display: inline-block;
      color: white;
      background-color: black;
      margin-right: 1rem;
      padding: .2rem .5rem;
      
      &__container{
         position: absolute;
         bottom: 0.1rem;
         overflow: hidden;

         @include respond(sm) {
            position: static;

            margin: 1rem 0; 

         }
      }
   }

   &:hover .work-item{
      &__image{
         transform:translateY(-110%);
         transition: all 1000ms;

         &-video{
            transform: scale(1.1);
         }
      }
   }
}