@font-face {
   font-family: 'euclid_flexbold';
   src:  url('../../assets/fonts/euclidflex-bold-webfont.woff') format('woff'),
         url('../../assets/fonts/euclidflex-bold-webfont.woff2') format('woff2');  
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'euclid_flexregular';
   src: url('../../assets/fonts/EuclidFlex-Regular_webfont.woff2') format('woff2'),
        url('../../assets/fonts/euclidflex-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.header-heading{
   font-family: 'euclid_flexbold';
   text-transform: uppercase;

   @include respond(xxl) {font-size: 5.75rem; line-height: 8rem;}
   @include respond(xl) {font-size: 4.8rem;}
   @include respond(l) { font-size: 4rem;}
   @include respond(md) { font-size: 4.6rem;}
   @include respond(sm) {font-size: 4.5rem;}

   /*
   &--dark{ color: white }
   &--light{ color: black }
   */
}

.info-heading{
   font-family: 'euclid_flexregular';
   text-transform: uppercase;



   @include respond(xxl) {font-size: 1.5rem;}
   @include respond(xl) {font-size: 1.4rem;}
   @include respond(l) { font-size: 1.3rem;}
   @include respond(md) { font-size: 4.6rem;}
   @include respond(sm) {font-size: 4.5rem;}

   &--bold{ font-family: 'euclid_flexbold'; }
}