//Colors 
$blue: #2100FF;
$red: #ff0000;
$yellow: #f6ff00;
$black : #222222;

//Grid
$gutter-vertical: 40px;
$gutter-horizontal: 0rem;

//Breakpoints
$xxxl: 2000px;
$xxl: 1400px;
$xl: 1200px;
$l: 1024px;
$md: 768px;
$sm: 540px;


