*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'euclid_flexbold';
  src: url("../../assets/fonts/euclidflex-bold-webfont.woff") format("woff"), url("../../assets/fonts/euclidflex-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'euclid_flexregular';
  src: url("../../assets/fonts/EuclidFlex-Regular_webfont.woff2") format("woff2"), url("../../assets/fonts/euclidflex-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header-heading {
  font-family: 'euclid_flexbold';
  text-transform: uppercase;
  /*
   &--dark{ color: white }
   &--light{ color: black }
   */
}

@media only screen and (min-width: 1400px) {
  .header-heading {
    font-size: 6vw;
    line-height: 7vw;
  }
}

@media only screen and (max-width: 1400px) {
  .header-heading {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .header-heading {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .header-heading {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .header-heading {
    font-size: 4.5rem;
  }
}

.primary-heading {
  font-family: 'euclid_flexbold';
  text-transform: uppercase;
  position: relative;
}

@media only screen and (min-width: 1400px) {
  .primary-heading {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 1400px) {
  .primary-heading {
    font-size: 6.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .primary-heading {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .primary-heading {
    font-size: 4.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .primary-heading {
    font-size: 3.5rem;
    line-height: 8rem;
  }
}

.primary-heading__container {
  display: block;
  position: relative;
  overflow: hidden;
}

.secondary-heading {
  display: inline-block;
  font-family: 'euclid_flexbold';
  text-transform: uppercase;
}

@media only screen and (min-width: 1400px) {
  .secondary-heading {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1400px) {
  .secondary-heading {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1200px) {
  .secondary-heading {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .secondary-heading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .secondary-heading {
    font-size: 2.6rem;
  }
}

.secondary-heading__container {
  display: block;
  position: relative;
  overflow: hidden;
}

.large-link {
  font-family: 'euclid_flexbold';
  text-transform: uppercase;
  cursor: pointer;
}

.large-link:before {
  position: absolute;
  content: "";
  height: 3px;
  background: black;
  transition: all 0.3s;
  width: 0;
  right: 0;
  bottom: 0;
}

.large-link:hover:not(.pass--active):before {
  width: 100%;
  left: 0;
  background: black;
}

@media only screen and (min-width: 1400px) {
  .large-link {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1400px) {
  .large-link {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 1200px) {
  .large-link {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .large-link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .large-link {
    font-size: 1.5rem;
  }
}

.large-link__container {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.paragraphe {
  font-family: 'euclid_flexregular';
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1400px) {
  .paragraphe {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1400px) {
  .paragraphe {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .paragraphe {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1024px) {
  .paragraphe {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .paragraphe {
    font-size: 1.5rem;
  }
}

.paragraphe__container {
  display: block;
  position: relative;
  overflow: hidden;
}

.paragraphe--bold {
  font-family: 'euclid_flexbold';
}

.paragraphe--uppercase {
  text-transform: uppercase;
}

.info-heading {
  display: inline-block;
  position: relative;
  font-family: 'euclid_flexregular';
}

@media only screen and (min-width: 1400px) {
  .info-heading {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1400px) {
  .info-heading {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .info-heading {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .info-heading {
    font-size: .51rem;
  }
}

@media only screen and (max-width: 768px) {
  .info-heading {
    font-size: .8rem;
  }
}

.info-heading__container {
  display: block;
  position: relative;
  overflow: hidden;
}

.info-heading--bold {
  font-family: 'euclid_flexbold';
}

.info-heading--uppercase {
  text-transform: uppercase;
}

.info-heading--red {
  color: red;
}

.openTypeStyle1 {
  font-feature-settings: "ss01";
}

.openTypeStyle2 {
  font-feature-settings: "ss02";
}

.openTypeStyle3 {
  font-feature-settings: "ss03";
}

.openTypeStyle4 {
  font-feature-settings: "ss04";
}

.openTypeStyle5 {
  font-feature-settings: "ss05";
}

.openTypeStyle6 {
  font-feature-settings: "ss06";
}

.openTypeStyle7 {
  font-feature-settings: "ss07";
}

.text-align-right {
  text-align: right;
}

.sidebar {
  position: relative;
  height: 100vh;
}

.navigation {
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  mix-blend-mode: difference;
  position: absolute;
  height: 80vh;
  width: 100%;
  margin-top: 10vh;
}

.navigation__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navigation__item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.navigation__item:before {
  position: absolute;
  content: "";
  height: 1px;
  background: black;
  transition: all 0.3s;
  width: 0;
  right: 0;
  bottom: 0;
}

.navigation__item:hover:not(.pass--active):before {
  width: 100%;
  left: 0;
  background: black;
}

.navigation__item__container {
  position: relative;
  display: inline-block;
}

.navigation__current {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-left: .5rem;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.line--thick {
  height: .5rem;
  background: black;
}

.line--thin {
  height: .2rem;
  background: black;
}

.container {
  margin: 0 auto;
}

.container--full-width {
  width: 100vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1-of-1 {
  flex: 0 0 calc(100% / 1 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-1 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-1--no-margin {
  flex: 0 0 calc(100% / 1 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-1--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-2 {
  flex: 0 0 calc(100% / 2 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-2 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-2--no-margin {
  flex: 0 0 calc(100% / 2 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-2--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-2 {
  flex: 0 0 calc(100% / 2 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-2 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-2--no-margin {
  flex: 0 0 calc(100% / 2 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-2--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-3 {
  flex: 0 0 calc(100% / 3 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-3 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-3--no-margin {
  flex: 0 0 calc(100% / 3 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-3--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-3 {
  flex: 0 0 calc(100% / 3 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-3 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-3--no-margin {
  flex: 0 0 calc(100% / 3 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-3--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-3 {
  flex: 0 0 calc(100% / 3 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-3 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-3--no-margin {
  flex: 0 0 calc(100% / 3 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-3--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-4 {
  flex: 0 0 calc(100% / 4 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-4 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-4--no-margin {
  flex: 0 0 calc(100% / 4 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-4--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-4 {
  flex: 0 0 calc(100% / 4 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-4 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-4--no-margin {
  flex: 0 0 calc(100% / 4 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-4--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-4 {
  flex: 0 0 calc(100% / 4 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-4 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-4--no-margin {
  flex: 0 0 calc(100% / 4 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-4--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-4 {
  flex: 0 0 calc(100% / 4 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-4 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-4--no-margin {
  flex: 0 0 calc(100% / 4 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-4--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-5 {
  flex: 0 0 calc(100% / 5 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-5 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-5--no-margin {
  flex: 0 0 calc(100% / 5 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-5--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-5 {
  flex: 0 0 calc(100% / 5 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-5 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-5--no-margin {
  flex: 0 0 calc(100% / 5 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-5--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-5 {
  flex: 0 0 calc(100% / 5 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-5 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-5--no-margin {
  flex: 0 0 calc(100% / 5 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-5--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-5 {
  flex: 0 0 calc(100% / 5 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-5 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-5--no-margin {
  flex: 0 0 calc(100% / 5 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-5--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-5 {
  flex: 0 0 calc(100% / 5 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-5 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-5--no-margin {
  flex: 0 0 calc(100% / 5 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-5--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-6 {
  flex: 0 0 calc(100% / 6 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-6 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-6--no-margin {
  flex: 0 0 calc(100% / 6 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-6--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-6 {
  flex: 0 0 calc(100% / 6 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-6 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-6--no-margin {
  flex: 0 0 calc(100% / 6 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-6--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-6 {
  flex: 0 0 calc(100% / 6 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-6 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-6--no-margin {
  flex: 0 0 calc(100% / 6 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-6--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-6 {
  flex: 0 0 calc(100% / 6 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-6 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-6--no-margin {
  flex: 0 0 calc(100% / 6 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-6--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-6 {
  flex: 0 0 calc(100% / 6 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-6 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-6--no-margin {
  flex: 0 0 calc(100% / 6 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-6--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-6 {
  flex: 0 0 calc(100% / 6 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-6 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-6--no-margin {
  flex: 0 0 calc(100% / 6 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-6--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-7 {
  flex: 0 0 calc(100% / 7 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-7 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-7--no-margin {
  flex: 0 0 calc(100% / 7 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-7--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-7 {
  flex: 0 0 calc(100% / 7 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-7 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-7--no-margin {
  flex: 0 0 calc(100% / 7 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-7--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-7 {
  flex: 0 0 calc(100% / 7 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-7 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-7--no-margin {
  flex: 0 0 calc(100% / 7 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-7--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-7 {
  flex: 0 0 calc(100% / 7 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-7 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-7--no-margin {
  flex: 0 0 calc(100% / 7 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-7--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-7 {
  flex: 0 0 calc(100% / 7 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-7 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-7--no-margin {
  flex: 0 0 calc(100% / 7 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-7--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-7 {
  flex: 0 0 calc(100% / 7 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-7 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-7--no-margin {
  flex: 0 0 calc(100% / 7 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-7--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-7 {
  flex: 0 0 calc(100% / 7 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-7 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-7--no-margin {
  flex: 0 0 calc(100% / 7 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-7--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-8 {
  flex: 0 0 calc(100% / 8 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-8 {
  flex: 0 0 calc(100% / 8 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-8 {
  flex: 0 0 calc(100% / 8 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-8 {
  flex: 0 0 calc(100% / 8 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-8 {
  flex: 0 0 calc(100% / 8 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-8 {
  flex: 0 0 calc(100% / 8 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-8 {
  flex: 0 0 calc(100% / 8 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-8-of-8 {
  flex: 0 0 calc(100% / 8 * 8   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-8-of-8 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-8-of-8--no-margin {
  flex: 0 0 calc(100% / 8 * 8);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-8-of-8--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-9 {
  flex: 0 0 calc(100% / 9 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-9 {
  flex: 0 0 calc(100% / 9 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-9 {
  flex: 0 0 calc(100% / 9 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-9 {
  flex: 0 0 calc(100% / 9 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-9 {
  flex: 0 0 calc(100% / 9 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-9 {
  flex: 0 0 calc(100% / 9 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-9 {
  flex: 0 0 calc(100% / 9 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-8-of-9 {
  flex: 0 0 calc(100% / 9 * 8   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-8-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-8-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 8);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-8-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-9-of-9 {
  flex: 0 0 calc(100% / 9 * 9   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-9-of-9 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-9-of-9--no-margin {
  flex: 0 0 calc(100% / 9 * 9);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-9-of-9--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-10 {
  flex: 0 0 calc(100% / 10 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-10 {
  flex: 0 0 calc(100% / 10 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-10 {
  flex: 0 0 calc(100% / 10 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-10 {
  flex: 0 0 calc(100% / 10 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-10 {
  flex: 0 0 calc(100% / 10 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-10 {
  flex: 0 0 calc(100% / 10 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-10 {
  flex: 0 0 calc(100% / 10 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-8-of-10 {
  flex: 0 0 calc(100% / 10 * 8   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-8-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-8-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 8);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-8-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-9-of-10 {
  flex: 0 0 calc(100% / 10 * 9   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-9-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-9-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 9);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-9-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-10-of-10 {
  flex: 0 0 calc(100% / 10 * 10   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-10-of-10 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-10-of-10--no-margin {
  flex: 0 0 calc(100% / 10 * 10);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-10-of-10--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-11 {
  flex: 0 0 calc(100% / 11 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-11 {
  flex: 0 0 calc(100% / 11 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-11 {
  flex: 0 0 calc(100% / 11 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-11 {
  flex: 0 0 calc(100% / 11 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-11 {
  flex: 0 0 calc(100% / 11 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-11 {
  flex: 0 0 calc(100% / 11 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-11 {
  flex: 0 0 calc(100% / 11 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-8-of-11 {
  flex: 0 0 calc(100% / 11 * 8   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-8-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-8-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 8);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-8-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-9-of-11 {
  flex: 0 0 calc(100% / 11 * 9   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-9-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-9-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 9);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-9-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-10-of-11 {
  flex: 0 0 calc(100% / 11 * 10   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-10-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-10-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 10);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-10-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-11-of-11 {
  flex: 0 0 calc(100% / 11 * 11   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-11-of-11 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-11-of-11--no-margin {
  flex: 0 0 calc(100% / 11 * 11);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-11-of-11--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-12 {
  flex: 0 0 calc(100% / 12 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-12 {
  flex: 0 0 calc(100% / 12 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-12 {
  flex: 0 0 calc(100% / 12 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-12 {
  flex: 0 0 calc(100% / 12 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-12 {
  flex: 0 0 calc(100% / 12 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-12 {
  flex: 0 0 calc(100% / 12 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-12 {
  flex: 0 0 calc(100% / 12 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-8-of-12 {
  flex: 0 0 calc(100% / 12 * 8   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-8-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-8-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 8);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-8-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-9-of-12 {
  flex: 0 0 calc(100% / 12 * 9   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-9-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-9-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 9);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-9-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-10-of-12 {
  flex: 0 0 calc(100% / 12 * 10   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-10-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-10-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 10);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-10-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-11-of-12 {
  flex: 0 0 calc(100% / 12 * 11   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-11-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-11-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 11);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-11-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-12-of-12 {
  flex: 0 0 calc(100% / 12 * 12   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-12-of-12 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-12-of-12--no-margin {
  flex: 0 0 calc(100% / 12 * 12);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-12-of-12--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-13 {
  flex: 0 0 calc(100% / 13 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-13 {
  flex: 0 0 calc(100% / 13 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-13 {
  flex: 0 0 calc(100% / 13 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-13 {
  flex: 0 0 calc(100% / 13 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-13 {
  flex: 0 0 calc(100% / 13 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-13 {
  flex: 0 0 calc(100% / 13 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-13 {
  flex: 0 0 calc(100% / 13 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-8-of-13 {
  flex: 0 0 calc(100% / 13 * 8   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-8-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-8-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 8);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-8-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-9-of-13 {
  flex: 0 0 calc(100% / 13 * 9   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-9-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-9-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 9);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-9-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-10-of-13 {
  flex: 0 0 calc(100% / 13 * 10   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-10-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-10-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 10);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-10-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-11-of-13 {
  flex: 0 0 calc(100% / 13 * 11   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-11-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-11-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 11);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-11-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-12-of-13 {
  flex: 0 0 calc(100% / 13 * 12   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-12-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-12-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 12);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-12-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-13-of-13 {
  flex: 0 0 calc(100% / 13 * 13   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-13-of-13 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-13-of-13--no-margin {
  flex: 0 0 calc(100% / 13 * 13);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-13-of-13--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-1-of-14 {
  flex: 0 0 calc(100% / 14 * 1   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-1-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-1-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 1);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-1-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-2-of-14 {
  flex: 0 0 calc(100% / 14 * 2   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-2-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-2-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 2);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-2-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-3-of-14 {
  flex: 0 0 calc(100% / 14 * 3   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-3-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-3-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 3);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-3-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-4-of-14 {
  flex: 0 0 calc(100% / 14 * 4   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-4-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-4-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 4);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-4-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-5-of-14 {
  flex: 0 0 calc(100% / 14 * 5   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-5-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-5-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 5);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-5-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-6-of-14 {
  flex: 0 0 calc(100% / 14 * 6   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-6-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-6-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 6);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-6-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-7-of-14 {
  flex: 0 0 calc(100% / 14 * 7   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-7-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-7-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 7);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-7-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-8-of-14 {
  flex: 0 0 calc(100% / 14 * 8   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-8-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-8-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 8);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-8-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-9-of-14 {
  flex: 0 0 calc(100% / 14 * 9   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-9-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-9-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 9);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-9-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-10-of-14 {
  flex: 0 0 calc(100% / 14 * 10   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-10-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-10-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 10);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-10-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-11-of-14 {
  flex: 0 0 calc(100% / 14 * 11   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-11-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-11-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 11);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-11-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-12-of-14 {
  flex: 0 0 calc(100% / 14 * 12   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-12-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-12-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 12);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-12-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-13-of-14 {
  flex: 0 0 calc(100% / 14 * 13   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-13-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-13-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 13);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-13-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.col-14-of-14 {
  flex: 0 0 calc(100% / 14 * 14   - 40px * 2);
  margin: 0rem 40px;
}

@media only screen and (max-width: 768px) {
  .col-14-of-14 {
    flex: 0 0 calc(100% - 40px * 2) !important;
  }
}

.col-14-of-14--no-margin {
  flex: 0 0 calc(100% / 14 * 14);
  margin: 0 0;
}

@media only screen and (max-width: 768px) {
  .col-14-of-14--no-margin {
    flex: 0 0 100% !important;
  }
}

.large-spacing {
  display: block;
  height: 5rem;
}

.medium-spacing {
  display: block;
  height: 2.5rem;
}

header {
  height: 200vh;
}

.header {
  position: relative;
  height: 100vh;
}

.header__main {
  color: black;
  mix-blend-mode: difference;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__mail__container {
  overflow: hidden;
}

.header__animation__container {
  position: relative;
  overflow: hidden;
}

.work-item {
  position: relative;
  padding: 1rem 0;
}

.work-item__image {
  position: relative;
  display: absolute;
  width: 100%;
  height: 100%;
  transition: all 1000ms;
}

.work-item__image__container {
  position: relative;
  overflow: hidden;
}

.work-item__image-hidder {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  bottom: 0;
  transform-origin: bottom;
  transform: scaleY(0);
}

.work-item__image-video {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 500ms;
}

.work-item__info {
  height: 100%;
  position: relative;
  left: 40px;
}

@media only screen and (max-width: 768px) {
  .work-item__info {
    left: 0;
  }
}

.work-item__tag {
  display: inline-block;
  color: white;
  background-color: black;
  margin-right: 1rem;
  padding: .2rem .5rem;
}

.work-item__tag__container {
  position: absolute;
  bottom: 0.1rem;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .work-item__tag__container {
    position: static;
    margin: 1rem 0;
  }
}

.work-item:hover .work-item__image {
  transform: translateY(-110%);
  transition: all 1000ms;
}

.work-item:hover .work-item__image-video {
  transform: scale(1.1);
}

.about__content {
  margin: 1rem 0;
}

.footer {
  margin-bottom: 10vh;
}

.scrollable {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrollable::-webkit-scrollbar {
  display: static !important;
}

.wrap-overflow {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.test {
  height: 100vh;
  text-align: center;
  font-size: 4rem;
}
/*# sourceMappingURL=main.css.map */