.sidebar{
   position: relative;
   height: 100vh;
}

.navigation{ 
   position: fixed;
   z-index: 1000;

   display: flex;   
   flex-direction: column;
   justify-content: space-between;
   text-align: right;

   mix-blend-mode: difference ;
   position: absolute;
   height: 80vh;
   width: 100%;
   margin-top: 10vh;

   &__menu{
      display: flex;   
      flex-direction: column;

      list-style: none;
   }

   &__item{
      position: relative;
      display: inline-block;
      cursor: pointer;

      &:before{
         position: absolute;
         content: "";
      
         height: 1px;
         background: black;
         transition: all 0.3s;

         width: 0;
         right: 0;
         bottom: 0;   
     }
     &:hover:not(.pass--active){
         &:before {
             width: 100%;
             left: 0;
             background: black;
             
         }
     }

    

      &__container{
         position: relative; 
         display: inline-block;
      }
   }

   &__current{
      display: inline-block;
       position: relative;
      overflow: hidden;
      margin-left: .5rem;
   }
   &__selected{
      transform: translateX(-100%);
   }

   @include respond(sm) {display: none;}
}