.sidebar{
   position: relative;
   height: 100vh;
}

.navigation{ 
   position: fixed;
   z-index: 1000;

   display: flex;   
   flex-direction: column;
   justify-content: space-between;
   text-align: right;

   mix-blend-mode: difference ;
   position: absolute;
   height: 80vh;
   width: 100%;
   margin-top: 10vh;


   
   &__menu{list-style: none;}

   @include respond(sm) {display: none;}
}