.project{
   margin-top: 10vh;

   &__title{
      line-height: 1;

      &__container{
         display: inline-block;
      }
   }

   &__close{
      cursor: pointer;
      background-color: black;
      color: white;
      padding: 0 1rem ;
      display: inline-block;
      position: relative;


      &__container{

         display: block;
         overflow: hidden;
         right: 0;
      }
   }

   &__date{
      &__container{
         position: relative;
         display: inline-block;
         bottom: .6rem;
         overflow: hidden;

      }
   }

   &__tag{

      margin-right: 1rem;

      &__container{
         overflow: hidden;
      }
   }

   &__video{
      display: block;
      width: 100%;

      &__controls{
         background-color: black;
         color: white;
         width: 100%;
         padding: .1rem 1rem;
      }

      &__hidder{
         position: absolute;
         background-color: red;
         width: 120%;
         height: 100%;
         display: block;
         transform-origin: bottom;
         transform: scaleY(1);
         z-index: 100000;
      }

      &__container{
         position: relative;
         display: block;
         overflow: hidden;
      }
   }

   &__paragraphe{

      &__container{
         overflow: hidden;
         position: relative;
      }
   }


}