.large-spacing{
   display: block;
   height: 5rem;
   width: 90%;
}

.medium-spacing{
   display: block;
   height: 2.5rem;
   width: 90%;
}

.small-spacing{
   display: block;
   height: 1.25rem;
   width: 90%;
}


.bottom-spacing{
   display: block;
   height: 10vh;
   width: 90%;
}