.work-item{

   position: relative;
   margin: 1rem 0;
   overflow: hidden;

   &__image{
      position: relative;
      display: absolute;
      width: 100%;
      height: 100%;
      transition: all 1000ms;
      cursor: pointer;

      &__container{
         position: relative;
         overflow: hidden;
         
      }

      &-hidder{
         display: block;
         position: absolute;
         width: 100%;
         height: 100%;
         background-color: white;
         bottom: 0;

         transform-origin: bottom;
         transform: scaleY(0);
      }

      &-video{
         cursor: pointer;
         display: block;
         position: absolute;
         width: 100%;
         height: 100%;
         transition: all 500ms;

      }
   }

   &__info{
      width: calc(100% - #{$gutter-vertical});
      height: 100%;
      position: relative;
      margin-left: $gutter-vertical;


      @include respond(sm) {
         margin-left: 0;
      }
   }

   &__view{
      background-color: black;
      color: white;
      padding: 0.2rem 0.5rem;
      transform: translateY(100%);
      transition: all 250ms;
      text-align: center;


      &__container{
         position: absolute;
         right: 0;
         
         bottom: -1rem;
         overflow: hidden;

         
      }
   }

   &__tag{
      display: inline-block;

      margin-right: 1rem;

      
      &__container{
         position: absolute;
         bottom: 0.1rem;
         width: 100%;
         overflow: hidden;


         @include respond(sm) {
            position: static;

            margin: 1rem 0; 

         }

         &__container{
            overflow: hidden;
            background-color: burlywood;
         }
      }
   }
   /*
   &:hover .work-item{
      &__image{
         transform:translateY(-110%);
         transition: all 1000ms;

         &-video{
            transform: scale(1.1);
         }
      }

      &__view{
         transform:translateY(0);
         transition: all 250ms;

      }
   }
   */
}