.line{
   &--thick{
      position: relative;
      z-index: 3;
      max-width: 100%;
      background: black;
      border: none;
      box-sizing: border-box;

      height: .9vw
     
   }
   
   &--thin{
      position: relative;
      z-index: 3;

      max-width: 100%;
      background: black;
      border: none;

      @include respond(xxl) {height: 5px;}
      @include respond(xl) {height: .15rem;}
      @include respond(l) {height: 1px}
      @include respond(md) {height: .2rem;}
   }

   &--hair{
      position: relative;
      z-index: 3;

      max-width: 100%;
      background: black;
      border: none;

      @include respond(xxl) {height: 2px;}
      @include respond(xl) {height: .15rem;}
      @include respond(l) {height: 1px}
      @include respond(md) {height: .2rem;}
   }
}