.line{
   &--thick{
      position: relative;
      z-index: 3;
      height: .5rem;
      max-width: 99%;
      background: black;
      border: none;
      box-sizing: border-box;
   }
   
   &--thin{
      position: relative;
      z-index: 3;
      height: .2rem;
      max-width: 99%;
      background: black;
      border: none;
   }
}