.sidebar{
   position: relative;
   height: 100vh;
}

.navigation{ 
   position: relative;
   display: flex;   
   flex-direction: column;
   justify-content: space-between;
   text-align: right;

   color: white;
   

   position: absolute;
   height: 80vh;
   width: 100%;
   margin-top: 10vh;

   &__top, &__center, &__bottom{
      z-index: 2;
      mix-blend-mode: difference;
   }

   &__background{
      z-index: 0;
      position: absolute;
      background-color: white;
      height: 80vh;
      width: 100%;
   }

   &__menu{
      display: flex;   
      flex-direction: column;

      list-style: none;
   }

   &__item{
      position: relative;
      display: inline-block;
      cursor: pointer;
      z-index: 8;



      color: white;
      padding: .2rem .5rem;
     
      

      &__container{
         overflow: hidden;
         transform: translateY(-50%);
      }

      &:before{
         position: absolute;
         content: "";
         mix-blend-mode: difference ;

         background: white;
         transition: all 0.3s;

         height: 100%;

         width: 0;
         right: 0;
         bottom: 0;   
     }
     &:hover:not(.pass--active){
         &:before {
             width: 100%;
             top: 0;
             background: white;
             mix-blend-mode: difference ;
             
         }
     }

    

      &__container{
         position: relative; 
         display: inline-block;
         
      }
   }

   &__current{
      display: inline-block;
       position: relative;
      overflow: hidden;
      margin-left: .5rem;
   }
   &__selected{
      transform: translateX(-100%);
   }

   @include respond(sm) {display: none;}
}