*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    *::-webkit-scrollbar{display: none;}
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
}

a { 
    text-decoration: none;
    color: inherit; 
} 

body::-webkit-scrollbar {display: none;}


.no-mobile{
    display: inline;
    @include respond(sm) {
        display:none;
    }
    
}

::-webkit-scrollbar {
    display: none;
}