@font-face {
   font-family: 'euclid_flexbold';
   src:  url('../../assets/fonts/euclidflex-bold-webfont.woff') format('woff'),
         url('../../assets/fonts/euclidflex-bold-webfont.woff2') format('woff2');  
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'euclid_flexmedium';
   src: url('../../assets/fonts/EuclidFlex-Medium-WebTrial.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'euclid_flexregular';
   src: url('../../assets/fonts/EuclidFlex-Regular_webfont.woff2') format('woff2'),
        url('../../assets/fonts/euclidflex-regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.header-heading{
   position: relative !important;
   font-family: 'euclid_flexregular';
   text-transform: uppercase;
   color: black;
   line-height: 1;
   font-size: 5.5vw; 
   margin: .5vw 0 ;

   @include respond(xxxl) {font-size: 4.8vw;}
   @include respond(sm) {font-size: 8vw;}

   &__container{
      display: block;
      position: relative;
      overflow: hidden;

   }

   &--bold{ font-family: 'euclid_flexbold';  }
   
}

.primary-heading{
   display: inline-block;
   font-family: 'euclid_flexbold';
   text-transform: uppercase;
   position: relative;
   line-height: 1;

      
   font-size: 12vw;
   @include respond(xxxl) {font-size: 10vw;}
      
   @include respond(sm) {
      font-size: 17vw;
      line-height: 17vw;
   }

   &__container{
      display: block;
      position: relative;
      overflow: hidden;
   }
}

.secondary-heading{
   display: inline-block;
   font-family: 'euclid_flexbold';
   text-transform: uppercase;
   line-height: 1;

   @include respond(xxxl) {font-size: 4.5vw;}
   @include respond(xxl) {font-size: 5.4vw;}
   @include respond(xl) {font-size: 4rem;}
   @include respond(l) { font-size: 3rem;}
   @include respond(md) { font-size: 2.5rem;}
   @include respond(sm) {font-size: 3rem;}

   &__container{
      display: inline-block;
      position: relative;
      overflow: hidden;
   }
}

.tertiary-heading{
   display: inline-block;
   font-family: 'euclid_flexbold';
   text-transform: uppercase;
   line-height: 1;

   @include respond(xxl) {font-size: 8vw;}
   @include respond(xl) {font-size: 4rem;}
   @include respond(l) { font-size: 3rem;}
   @include respond(md) { font-size: 2.5rem;}
   @include respond(sm) {font-size: 3rem;}

   &__container{
      display: inline-block;
      position: relative;
      overflow: hidden;
   }
}


.large-link{
   font-family: 'euclid_flexbold';
   text-transform: uppercase;
   cursor: pointer;

   &:before{
      position: absolute;
      content: "";
   
      height: 3px;
      background: black;
      transition: all 0.3s;

      width: 0;
      right: 0;
      bottom: 0;   
  }
  &:hover:not(.pass--active){
      &:before {
          width: 100%;
          left: 0;
          background: black;
          
      }
  }

   @include respond(xxl) {font-size: 3rem;}
   @include respond(xl) {font-size: 2.8rem;}
   @include respond(l) { font-size: 2rem;}
   @include respond(md) { font-size: 1rem;}
   @include respond(sm) {font-size: 1.5rem;}

   &__container{
      display: inline-block;
      position: relative;
      overflow: hidden;
   }
}

.paragraphe{
   font-family: 'euclid_flexregular';
   margin-bottom: 1rem;

   @include respond(xxxl) {font-size: 2rem;}
   @include respond(xxl) {font-size: 1.8rem;}
   @include respond(xl) {font-size: 1.5rem;}
   @include respond(l) { font-size: 1.4rem;}
   @include respond(md) { font-size: 1.2rem;}
   @include respond(sm) {font-size: 1.2rem;}

   &__container{
      display: block;
      position: relative;
      overflow: hidden;
   }

   &--bold{ font-family: 'euclid_flexbold'; }
   &--uppercase{ text-transform: uppercase; }
}


.project-paragraphe{
   font-family: 'euclid_flexregular';
   margin-bottom: 1rem;
   
   @include respond(xxl) {font-size: 1.2rem;}
   @include respond(xl) {font-size: 1.5rem;}
   @include respond(l) { font-size: 1.4rem;}
   @include respond(md) { font-size: 1.2rem;}
   @include respond(sm) {font-size: 1.2rem;}

   &__container{
      display: block;
      position: relative;
      overflow: hidden;
   }

   &--bold{ font-family: 'euclid_flexbold'; }
   &--uppercase{ text-transform: uppercase; }
}

.info-heading{
   display: inline-block;
   position: relative;
   font-family: 'euclid_flexregular';
   @include respond(xxxl) {font-size: 1.4rem;}
   @include respond(xxl) {font-size: 1.4rem;}
   @include respond(xl) {font-size: 1.1rem;}
   @include respond(l) { font-size: .8rem;}
   @include respond(md) { font-size: .8rem;}
   @include respond(sm) {font-size: .8rem;}

   &__container{
      display: block;
      position: relative;
      overflow: hidden;
   }

   &--bold{ font-family: 'euclid_flexbold'; }
   &--medium{ font-family: 'euclid_flexmedium'; }
   &--uppercase{ text-transform: uppercase; }
   &--white{ color: white; }
   &--red{ color: red; }

}

@for $i from 1 through 7{
   .openTypeStyle#{$i}{font-feature-settings: 'ss0#{$i}'}
}

.openTypeStyle11{font-feature-settings: 'ss11'}



.text-align-right{
   text-align: right;
}